
<div class="container mt-5">

    <div class ="tollbar p-1">
        <button pButton pRipple label="Neu" icon="pi pi-plus"
        class="p-button-success p-mr-2" 
        (click)="openNew()"></button>
    </div>

  

<p-table #dt [columns]="cols" 
        [value]="schueler"
        selectionMode="multiple" 
        [(selection)]="selectedSchueler"
        [rows]="10" [paginator]="true" 
        >



     <ng-template pTemplate="caption">
      <div class="d-flex justify-content-end">
           
          <button  type="button" pButton pRipple icon="pi pi-file-o" 
                    (click)="dt.exportCSV()" class="mr-4" pTooltip="CSV"
                    data-toggle="tooltip" data-placement="top"
                    title="Download CVS"></button>

          <button  type="button" pButton pRipple icon="pi pi-file-excel" 
                    (click)="exportExcel()" class="p-button-success mr-4" 
                    data-toggle="tooltip" data-placement="top"
                    title="Download Excel"></button>

          <button  type="button" pButton pRipple icon="pi pi-filter" 
                    (click)="dt.exportCSV({selectionOnly:true})"
                    class="p-button-warning  mr-4" data-toggle="tooltip" 
                    data-placement="top"
                    title="Ausgewählte Datei CVS"></button>
     
          <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Suche..." />
          </span>

        </div>
   </ng-template>

  <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
         {{col.header}}
         <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>         
   </tr>
  </ng-template>


  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" (click) = "schuelerRow(rowData)">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>

</p-table>

</div>

<p-dialog [(visible)]="schuelerDialog" 
        [style]="{width: '450px'}"
        [modal]="true" 
        styleClass="p-fluid">

    <ng-template pTemplate="content">

        <!--div class="p-field" *ngFor = "let col of cols; let i=index">
            
            <label for="col.header">{{col.header}}</label>
            <input type="text" pInputText name="col.header"
            [(ngModel)] = "schueler_."
             required autofocus 
            />
        </div-->

        <div class="p-field">
            <label for="Vorname">Vorname</label>
            <input type="text" pInputText name="Vorname"
            [(ngModel)] = "schueler_.Vorname"
             required autofocus 
            />
            <small class="p-invalid"
            *ngIf="submitted && !schueler_.Vorname">
            Vorname bitte eingeben!
            </small>
        </div>

        <div class="p-field">
            <label for="Nachname">Nachname</label>
            <input type="text" pInputText name="Nachname"
            [(ngModel)] = "schueler_.Nachname"
             required autofocus 
            />
            <small class="p-invalid"
            *ngIf="submitted && !schueler_.Nachname">
            Nachname bitte eingeben!
            </small>
        </div>

        <div class="p-field">
            <label for="Strasse">Strasse</label>
            <input type="text" pInputText name="Strasse"
            [(ngModel)] = "schueler_.Strasse"
             required autofocus 
            />
            <small class="p-invalid"
            *ngIf="submitted && !schueler_.Strasse">
            Strasse bitte eingeben!
            </small>
        </div>

        <div class="p-field">
            <label for="Status">Status</label>
            <input type="text" pInputText name="Status"
            [(ngModel)] = "schueler_.Status"
             required autofocus 
            />
            <small class="p-invalid"
                   *ngIf="submitted && !schueler_.Status">
                   Status bitte eingeben!
           </small>
        </div>
    </ng-template>


    <ng-template pTemplate="footer">

        <button pButton pRipple label="Abbrechen"
         icon="pi pi-times"
         class="p-button-text"
         ></button>

        <button pButton pRipple label="Speicher" 
        icon="pi pi-check" class="p-button-text" 
        (click) = "neuSchuelerSpeicher()"
      ></button>

    </ng-template>
</p-dialog>

